/* Filename: buttonStyle.css */

@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Button */
.btn-primary {
  background-color: #379777 !important;
  border-color: #379777 !important;
  color: white !important;
  border-radius: 10px;
  font-weight: bold !important;
}

.btn-primary:hover {
  background-color: #FFFFFF !important;
  border-color: #379777 !important;
  color: #379777 !important;
  border-radius: 15px;
  border-width: 2px !important;
  border-style: solid !important;
  font-weight: bold !important;
}

.btn-secondary {
  background-color: #FFC107 !important;
  border-color: #FFC107 !important;
  color: white !important;
  border-radius: 8px !important;
  font-weight: bold !important;
}

.btn-secondary:hover {
  background-color: #FFFFFF !important;
  border-color: #FFC107 !important;
  color: #FFC107 !important;
  border-radius: 10px !important;
  border-width: 2px !important;
  border-style: solid !important;
  font-weight: bold !important;
}

.btn-success {
  background-color: #33DB00;
  border-color: #33DB00;
  color: white !important;
  border-radius: 10px;
  font-weight: bold !important;
}

.btn-success:hover {
  background-color: #FFFFFF !important;
  border-color: #33DB00 !important;
  color: #33DB00 !important;
  border-radius: 15px;
  border-width: 2px !important;
  border-style: solid !important;
  font-weight: bold !important;
}

.btn-danger {
  background-color: #DB0004 !important;
  border-color: #DB0004 !important;
  color: white !important;
  border-radius: 10px !important;
  font-weight: bold !important;
}

.btn-danger:hover {
  background-color: #FFFFFF !important;
  border-color: #DB0004 !important;
  color: #DB0004 !important;
  border-radius: 15px !important;
  border-width: 2px !important;
  border-style: solid !important;
  font-weight: bold !important;
}

.btn-light {
  background-color: #FFF !important;
  border-color: #FFF !important;
  color: black !important;
  border-radius: 12px !important;
  font-weight: bold !important;
}

.btn-light:hover {
  background-color: #379777 !important;
  border-color: #379777 !important;
  color: #000 !important;
  border-radius: 15px !important;
  border-width: 2px !important;
  border-style: solid !important;
  font-weight: bold !important;
}

.btn-info {
  background-color: #D6E7F9 !important;
  border-color: #88A9C3 !important;
  color: black !important;
  border-radius: 8px !important;
  font-weight: bold !important;
}

.btn-info:hover {
  background-color: #D6E7F9 !important;
  border-color: #88A9C3 !important;
  color: #000 !important;
  border-radius: 10px !important;
  border-width: 1px !important;
  border-style: solid !important;
  font-weight: bold !important;
}

/* Toggle Button */
.togglebtn-container {
  border: 1px solid #CCC;
  border-radius: 13px;
  overflow: hidden;
  box-shadow: inset 3px 3px 6px rgba(0,0,0,0.5);
  width: fit-content;
  margin-top: 10px;
}

.togglebtn-custom {
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-right: 1px solid #CCC;
  border-left: 1px solid #CCC;
  font-size: 16px;
  color: #379777;
}