/* Filename: index.css */

@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Universal (Komponen HTML) */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFF6F6 !important;
  font-family: 'Inter', sans-serif !important;
}

main {
  padding-top: 90px; /* sama seperti tinggi header */
}

hr {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #000000 !important;
  border: none !important;
  opacity: 1 !important;
  filter: brightness(0) contrast(50%); /* mempertegas warna hitam */
}

footer {
  width: 100%;
  text-align: center; 
  margin-top: 80px;
  padding-bottom: 50px;
}

/* Button */
.btn-primary {
  background-color: #379777 !important;
  border-color: #379777 !important;
  color: white !important;
  border-radius: 10px;
  font-weight: bold !important;
}

.btn-primary:hover {
  background-color: #FFFFFF !important;
  border-color: #379777 !important;
  color: #379777 !important;
  border-radius: 15px;
  border-width: 2px !important;
  border-style: solid !important;
  font-weight: bold !important;
}

.btn-secondary {
  background-color: #FFC107 !important;
  border-color: #FFC107 !important;
  color: white !important;
  border-radius: 8px !important;
  font-weight: bold !important;
}

.btn-secondary:hover {
  background-color: #FFFFFF !important;
  border-color: #FFC107 !important;
  color: #FFC107 !important;
  border-radius: 10px !important;
  border-width: 2px !important;
  border-style: solid !important;
  font-weight: bold !important;
}

.btn-success {
  background-color: #33DB00 !important;
  border-color: #33DB00 !important;
  color: white !important;
  border-radius: 10px;
  font-weight: bold !important;
}

.btn-success:hover {
  background-color: #FFFFFF !important;
  border-color: #33DB00 !important;
  color: #33DB00 !important;
  border-radius: 15px;
  border-width: 2px !important;
  border-style: solid !important;
  font-weight: bold !important;
}

.btn-danger {
  background-color: #DB0004 !important;
  border-color: #DB0004 !important;
  color: white !important;
  border-radius: 10px !important;
  font-weight: bold !important;
}

.btn-danger:hover {
  background-color: #FFFFFF !important;
  border-color: #DB0004 !important;
  color: #DB0004 !important;
  border-radius: 15px !important;
  border-width: 2px !important;
  border-style: solid !important;
  font-weight: bold !important;
}

.btn-light {
  background-color: #FFF !important;
  border-color: #FFF !important;
  color: black !important;
  border-radius: 12px !important;
  font-weight: bold !important;
}

.btn-light:hover {
  background-color: #379777 !important;
  border-color: #379777 !important;
  color: #000 !important;
  border-radius: 15px !important;
  border-width: 2px !important;
  border-style: solid !important;
  font-weight: bold !important;
}

.btn-info {
  background-color: #D6E7F9 !important;
  border-color: #88A9C3 !important;
  color: black !important;
  border-radius: 8px !important;
  font-weight: bold !important;
}

.btn-info:hover {
  background-color: #D6E7F9 !important;
  border-color: #88A9C3 !important;
  color: #000 !important;
  border-radius: 10px !important;
  border-width: 1px !important;
  border-style: solid !important;
  font-weight: bold !important;
}

/* Forms */
.custom-textInput {
  border: none !important;
  border-bottom: 1px solid #666 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-size: 14px !important;
}

.custom-textInput:focus {
  border-bottom: 2px solid #379777 !important;
  outline: none !important;
  box-shadow: none !important;
}

/* Header */
.header-bar {
  background-color: #379777 !important;
  height: 100px !important;
  width: 100% !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.45) !important;
  position: absolute;        /* Biar selalu di atas */
  top: 0;
  left: 0;
  z-index: 1001;          /* Lebih tinggi dari sidebar */
}

.header-container {
  display: flex !important;
  align-items: center !important;
  height: 100% !important;
  padding-left: 30px !important;
  padding-right: 1rem !important;
}

.header-logo {
  width: 55px !important;
  height: 55px !important;
  object-fit: contain !important;
  margin-right: 14px !important;
  border-radius: 6px !important;
}

.header-title {
  color: white !important;
  font-size: 26px !important;
  font-weight: bold !important;
  margin-bottom: 0 !important;
  transition: color 0.1s ease;
  cursor: pointer;
}

.header-title:hover {
  color: #FFF112 !important;
  text-decoration: underline !important;
}

/* Sidebar */
.sidebar {
  background-color: #FFF;
  width: 260px;
  height: 363px;
  transition: height 0.3s ease;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.45);
  border-bottom-right-radius: 25px;
  padding-top: 28px;
  display: flex;
  flex-direction: column;
}

.sidebar-expanded {
  height: 508px;
  transition: height 0.1s ease;
}

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 12px 16px 12px 30px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 0;
}

.sidebar-item:hover {
  background-color: #379777;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sidebar-item:hover .sidebar-label {
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.sidebar-icon {
  width: 18px;
  height: 18px;
  margin-right: 16px;
}

.sidebar-icon-placeholder {
  width: 18px;
  height: 18px;
  margin-right: 16px;
}

.sidebar-label {
  font-size: 15px;
  font-weight: 500;
  color: #000;
  flex-grow: 1;
}

.sidebar-submenu {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.sidebar-subitem {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 14px 16px 12px 67px;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 0;
}

.sidebar-subitem:hover {
  background-color: #379777;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sidebar-subitem .sidebar-label {
  color: #5B5B5B;
  font-size: 14px;
}

.sidebar-subitem:hover .sidebar-label {
  color: white;
  font-weight: bold;
  font-size: 16px;
}

/* Card Component */
.custom-card {
  background-color: #FFFFFF;
  border-radius: 25px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
  transition: box-shadow 0.3s ease;
}

.custom-card:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.45);
}

/* Tabel */
.custom-table {
  width: 100% !important;
  border-collapse: collapse !important;
  text-align: center !important;
  margin-bottom: 0 !important;
}

.custom-table th {
  background-color: #379777 !important;
  color: #FFF !important;
  font-weight: bold !important;
  padding: 16px !important;
  border: none;
  font-size: 16px !important;
}

.custom-table td {
  padding: 10px !important;
  border: none;
  padding: 14px !important;
  font-size: 16px !important;
}

.custom-table tr {
  border-bottom: 1px solid #D6D6D6 !important;
}

.custom-table tr:nth-child(even) {
  background-color: #FFF !important;
}

.custom-table tr:nth-child(odd) {
  background-color: #F3F3F3 !important;
}

.custom-table tbody tr:hover {
  background-color: #C0BEBE !important;
}

.table tbody td,
.table tbody tr {
  /* Force override bootstrap table background */
  background-color: transparent !important;
}

/* Border */
.border-vertikal th,
.border-vertikal td {
  border-left: 1px solid #D6D6D6 !important;
  border-right: 1px solid #D6D6D6 !important;
}

.border-right {
  border-right: 1px solid #D6D6D6 !important;
}

.border-left {
  border-right: 1px solid #D6D6D6 !important;
}

/* Radio Form */
.custom-radio {
  appearance: none;
  -webkit-appearance: none;
  background-color: #FFF;
  border: 3px solid #B3B3B3 !important;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  outline: none;
  margin: auto;
  display: block;
  transition: border-color 0.2s ease-in;
}

.custom-radio:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.2s ease-in;
}

.custom-radio.hadir:checked {
  border-color: #33DB00 !important;
}

.custom-radio.hadir:checked::before {
  background-color: #33DB00;
}

.custom-radio.izin:checked {
  border-color: #2B44E2 !important;
}

.custom-radio.izin:checked::before {
  background-color: #2B44E2;
}

.custom-radio.sakit:checked {
  border-color: #D4A328 !important;
}

.custom-radio.sakit:checked::before {
  background-color: #D4A328;
}

.custom-radio.alpa:checked {
  border-color: #DB0004 !important;
}

.custom-radio.alpa:checked::before {
  background-color: #DB0004;
}

/* Form Input */
.custom-formLabel {
  font-weight: bold !important; 
  color: #000 !important;
}

.custom-formInput {
  border: 1px solid #333 !important;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25) !important;
  background-color: white !important;
}

.custom-formInput.readonly-input {
  background-color: #D6D6D6 !important;
}

.custom-formInput:focus {
  /* Warna border saat input (termasuk readonly) difokus */
  border: 3px solid #379777 !important;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25) !important;
}


/* === Responsive === */
.custom-flex-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding-top: 20px;
}

/* Ukuran Desktop */
@media (min-width: 1125px) {
  .card-kecil {
    max-width: 100%;
  }

  .custom-container {
    display: flex !important;
    justify-content: center !important;
    align-items: flex-start !important;
    max-width: 1100px !important;
  }

  .custom-width-form-besar {
    font-weight: bold !important;
    width: 200px !important;
  }

  .custom-width-form-kecil {
    font-weight: bold !important;
    width: 150px !important;
  } 
}

/* Ukuran Mobile */
@media (max-width: 1124px) {
  .custom-flex-container {
    flex-direction: column !important;
    gap: 24px;
  }

  .custom-container {
    width: 100% !important;
  }

  .card-kecil {
    max-width: 100% !important;
  }
  
  .custom-card {
    width: 100% !important;
    max-width: 100% !important;
  }

  .sidebar-overlay {
    top: 90px;
    left: 0;
    width: 100%;
    height: calc(100% - 90px);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed; /* penting agar overlay tetap */
  }

  .sidebar-overlay .sidebar {
    position: relative;
    z-index: 1000;
  }

  .custom-width-form-besar {
    font-weight: bold !important;
    width: 200px !important;
  }

  .custom-width-form-kecil {
    font-weight: bold !important;
    width: 200px !important;
  }
}

/* Ukuran Mobile Sedang -> Kecil (hanya menyeusikan ukuran teks) */
@media (max-width: 560px) {
  .header-title {
    font-size: 20px !important;
  }

  .header-container span {
    font-size: 14px !important;
    margin-right: 20px !important;
  }

  .paragraf-flex-container {
    display: flex !important;
    flex-direction: column !important;
    gap: 40px !important;
    margin: 0 45px 30px 30px !important;
  }

  .custom-table th {
    font-size: 14px !important;
  }

  .custom-table td {
    font-size: 14px !important;
  }
  
  .custom-width-form-besar,
  .custom-width-form-kecil {
    font-weight: bold !important;
    width: 130px !important;
  }

  .width-button-mobile {
    width: 130px !important;
    font-size: 13px !important;
  }
}

/* ~~~ Animasi Transisi ~~~ */

/* Animasi background image slide in */
.bg-slide-in {
  transform: translateX(-100%);
  opacity: 0;
  animation: slideInLeft 1.0s ease-out forwards;
}

@keyframes slideInLeft {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Animasi form login fade-in dari bawah */
.form-slide-in {
  transform: translateY(20px);
  opacity: 0;
  animation: slideInForm 1.0s ease forwards;
}

@keyframes slideInForm {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Slide Down */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slideDown 1.0s ease-out forwards;
}

/* Sidebar Slide In Left */
@keyframes slideInLeftSidebar {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-sidebar {
  animation: slideInLeftSidebar 1.0s ease-out forwards;
}

/* Card Fade-In Center */
@keyframes fadeIn {
  from {
    transform: scale(0.75);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-card {
  animation: fadeIn 1.0s ease-out forwards;
}

.animate-button {
  animation: fadeIn 1.2s ease-out forwards;
}

/* Bounce Effect */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}