/* Filename: index.css */

@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Universal */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFF6F6;
  font-family: 'Inter', sans-serif;
}

/* Button */
.btn-primary {
  background-color: #379777 !important;
  border-color: #379777 !important;
  color: white !important;
  border-radius: 10px !important;
  font-weight: bold !important;
}

.btn-primary:hover {
  background-color: #FFFFFF !important;
  border-color: #379777 !important;
  color: #379777 !important;
  border-radius: 15px !important;
  border-width: 2px !important;
  border-style: solid !important;
  font-weight: bold !important;
}

.btn-secondary {
  background-color: #FFC107 !important;
  border-color: #FFC107 !important;
  color: white !important;
  border-radius: 10px !important;
  font-weight: bold !important;
}

.btn-secondary:hover {
  background-color: #FFFFFF !important;
  border-color: #FFC107 !important;
  color: #FFC107 !important;
  border-radius: 15px !important;
  border-width: 2px !important;
  border-style: solid !important;
  font-weight: bold !important;
}

.btn-success {
  background-color: #33DB00 !important;
  border-color: #33DB00 !important;
  color: white !important;
  border-radius: 10px !important;
  font-weight: bold !important;
}

.btn-success:hover {
  background-color: #FFFFFF !important;
  border-color: #33DB00 !important;
  color: #33DB00 !important;
  border-radius: 15px !important;
  border-width: 2px !important;
  border-style: solid !important;
  font-weight: bold !important;
}

.btn-danger {
  background-color: #DB0004 !important;
  border-color: #DB0004 !important;
  color: white !important;
  border-radius: 10px !important;
  font-weight: bold !important;
}

.btn-danger:hover {
  background-color: #FFFFFF !important;
  border-color: #DB0004 !important;
  color: #DB0004 !important;
  border-radius: 15px !important;
  border-width: 2px !important;
  border-style: solid !important;
  font-weight: bold !important;
}

/* Forms */
.custom-textInput {
  border: none !important;
  border-bottom: 1px solid #666 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-size: 14px !important;
}

.custom-textInput:focus {
  border-bottom: 2px solid #379777 !important;
  outline: none !important;
  box-shadow: none !important;
}